.button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--green);
    border: none;
    color: black;
    transition: background-color 0.2s;
    font-size: 1rem;
}


.button:hover {
    background-color: var(--green-hover);
    color: white;
    transition: background-color 0.2s;
}

.input {
    padding: 10px 15px;
    height: auto;
    /* border-radius: 10px; */
    /* border: 1px solid gray; */
    font-size: 1rem;
}