.sliderWrapper {
  :global(.swiper-pagination-bullet) {
    background: #585858;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: #000000;
  }
  :global(.swiper-wrapper) {
    overflow: visible;
  }
  :global(.swiper-pagination-bullet-inactive) {
    background-color: #585858;
  }

  :global(.swiper-slide) {
    height: auto;
    align-self: stretch;
  }

  :global(.swiper-container) {
    height: auto;
    align-self: stretch;
  }
}
